<ion-content class="ion-padding auth-content">
  <div class="logo-container ion-text-center">
    <div class="logo-circle">
      <ion-icon name="wallet"></ion-icon>
    </div>
    <h1>MoneyWise</h1>
    <p>Tu salud financiera empieza aquí</p>
  </div>

  <form [formGroup]="loginForm" (ngSubmit)="onLogin()">
    <ion-list lines="none" class="auth-list">
      <ion-item class="auth-item">
        <ion-icon name="mail-outline" slot="start"></ion-icon>
        <ion-input label="Correo Electrónico" labelPlacement="stacked"
                   type="email" formControlName="email"
                   placeholder="ejemplo@correo.com"></ion-input>
      </ion-item>

      <ion-item class="auth-item">
        <ion-icon name="lock-closed-outline" slot="start"></ion-icon>
        <ion-input label="Contraseña" labelPlacement="stacked"
                   type="password" formControlName="password"
                   placeholder="********"></ion-input>
      </ion-item>
    </ion-list>

    <div class="ion-padding-top">
      <ion-button expand="block" shape="round" type="submit" [disabled]="loginForm.invalid">
        Iniciar Sesión
      </ion-button>
      <p class="register-link ion-text-center" routerLink="/auth/register">¿No tienes cuenta? <strong>Regístrate</strong></p>
    </div>
  </form>
</ion-content>
